<table id="header">
  <tr>
    <td id="header-left">		
	  <%= render :partial => "facebook/facebook/header_left" %>
    </td>
    <td id="header-center">	
	  <%= render :partial => "facebook/facebook/header_center" %>
    </td>		
    <td id="header-right">
	  <%= render :partial => "facebook/facebook/header_right" %>
    </td>		
  </tr>			
</table>

<%= render :partial => "facebook/facebook/navigation" %>