<div class="box">
<h3>Your Investigator</h3>
<p>Your investigator's skills are their most valuable asset, and every investigator profile confers a unique profile of skills. Excelling in some disciplines while helpless in others, investigators must rely on the help of their allies to succeed where they lack skill.
<br /><br />
As you gain experience from solving plots, your investigator earns skill points which you can assign to further advance their existing skills or gain new ones.</p>

<h3>Allies</h3>
<p>Investigators played by your Facebook friends can be assigned as your allies, and you will want their help to succeed in solving plots. Your allies lend you their skills if they decide to help your investigations, thus it is far more important to have a few skillful allies you trust than many unreliable allies playing the game.
<br /><br />
You may also give items and funds to your allies, heal them with medicine, and receive them as guests at your social functions.</p>
</div>

<div class="box">
<h3>Plots</h3>
<p>Every investigator has a casebook of plots they're tracking and attempting to solve. Starting the game with a few simple plots, others can be discovered by visiting locations, talking to contacts, or by solving one plot which directly awards another.
<br /><br />
Plots contain a number of intrigues which must be overcome before they can be solved. An intrigue challenges a specific skill, and your investigator's chance of success is based on their respective skill level. To solve a plot you must succeed at all intrigues; once solved, plots will confer a number of awards such as experience, items, funds, contacts, or further plots.</p>

<h3>Investigations</h3>
<p>Your primary task in Cthulhu Quest is to solve plots, which is done by performing successful investigations.
<br /><br />
To begin an investigation, your investigator must satisfy a number of plot requirements. These are usually items which will be lost in the course of the investigation, certain books, or having already solved another plot.
<br /><br />
When you begin an investigation, for each plot intrigue you'll have the option to either face it alone, or else request the help of a friend by assigning an ally of sufficient skill to the intrigue. Each ally may only be assigned to one intrigue per investigation, and your ally will have to agree to help once they see your assignment. If they accept the assignment, their skill level will be added to your investigator's when facing the intrigue.
<br /><br />
Some intrigues have monster threats which your investigator must defeat in order to continue the investigation. If you are too badly injured in combat, you are likely to fail at further intrigues.
<br /><br />
A plot takes time to solve, and after the investigation begins, you must wait a number of hours before you can attempt to solve it. During this time, allies will also have the opportunity to see your assignments and respond.
<br /><br />
Once you successfully conclude an investigation, you will be presented with several alternative solutions to the plot, from which you must choose one. Your choice carries meaning in the grand scheme of the cosmos, and will come to weigh on your investigator in subtle ways. </p>
</div>

<div class="box">
<h3>Locations</h3>
<p>In the course of your investigations you will travel the world. Your investigator begins the game in Miskatonic Valley, and from there may travel to other locations by spending funds.
<br /><br />
When at a location you can meet with your contacts to entreat their favor, receive new plot threads, hunt monsters, and perform special tasks for that location. </p>

<h3>Combat</h3>
<p>You can actively hunt the monsters found at various locations in order to automatically claim a bounty, but you'll also face monsters in combat during investigations.
<br /><br />
Both monsters and investigators have a power and defense rating, and a number of attacks they can perform each round of combat. Your investigator's ratings are based on their current level, but can be augmented with weaponry and magical effects.
<br /><br />
Combat proceeds with the combatants exchanging a number attacks equal to their attack rating each round. The chance of success is based on the attacker's power rating minus the defender's defense rating. Each hit by a monster causes a wound, while the first hit from an investigator will defeat a monster.</p>

<h3>Contacts</h3>
<p>Other characters live in the world and will help your investigator, if you gain their acquaintance and favor. Introductions can be given by your allies or obtained through plots. Found at a specific location, you can meet a contact once per day to entreat a favor for later use or request an introduction on behalf of an ally.
<br /><br />
At the cost of a favor, contacts can also be assigned to intrigues during your investigations and will then lend their skill to your chance of success.</p>

<h3>Tasks</h3>
<p>Various locations provide skill-based tasks that can repeatedly performed for small rewards. An investigator may attempt one task per location per day, and must succeed at the requisite skill test or earn nothing.
<br /><br />
Tasks can only be viewed at a location if the investigator possess the necessary skill and investigator level.</p>
</div>

<div class="box">
<h3>Items</h3>
<p>A variety of useful items can be purchased, received as gifts, or earned as a reward for solving plots.
<br /><br />
There are several distinct item types. Basic equipment is used during investigations, and removed from your investigator's possessions after a single use. You may also acquire medical items, which can be used to heal investigators. Finally, you can gain artifacts, magical items with a limited number of uses, and which can temporarily activate special powers.</p>

<h3>Spells</h3>
<p>To learn spells, your investigator must solve plots and discover grimoires, manuals of magic which contain the instructions for a number of spells. When read, a grimoire will grant your investigator knowledge of its spells, but as a price will also severely tax your sanity.
<br /><br />
A spell known to your investigator can be cast at any time, at some cost of sanity, and a waiting period while the rituals are performed. Once cast the spell's powers will stay in effect for a number of hours, after which the spell will end, and may be cast again.</p>
</div>

<div class="box">
<h3>Wounds and Madness</h3>
<p>Various perils will cause your investigator wounds and madness, debilitations that progressively cripple their investigative abilities.
<br /><br />
Each wound adds a -1 penalty to all intrigue tests when trying to solve an investigation. Medical items, social functions, magic, and the fullness of time can heal investigators. 
<br /><br />
Once enough madness is earned, your investigator will go insane and gain a psychosis. Each insanity affects a specific skill, imposing a penalty depending on the insanity's severity; over time, your investigator's insanities may worsen. An insanity may be removed after spending time institutionalized in an asylum and successfully enduring treatment.</p>
</div>