<li>
  <div class="body" style='min-height:65px'>
    <%= image_tag contact.character.user.facebook_photo, :alt => 'Photo', :class => 'photo' %>	
	<%= link_to contact.character.name, web_contact_path(contact), :class => 'facebook' %>

    <div class='right' style='margin:5px 10px 0 0;'>
	  <%= link_to_facebook( contact.character.user ) %>
	</div>
	
    <p>
	<% if current_user.friends?( contact.character.user ) %>
      In good company on "The Facebook"
	<% else %>
	  <%= link_to_add_facebook_friend(contact.character.user) %>
	<% end %>
    </p>	
  </div>
</li>