<article>
  <header>
	<h2>Quickstart Guide</h2>
  </header>
  <div class="profile">
  <fieldset>
    <legend>How to Play</legend>
    <ul>
	  <li>Cthulhu Quest is a browser-based horror RPG where you create an investigator and solve Lovecraftian plots with your friends. Each plot you solve unlocks deeper mysteries and brings experience and rewards to strengthen your investigator for ever greater challenges in mankind's secret battle against cosmic extinction.
	  </li>
	</ul>
  </fieldset>
  <fieldset>
    <legend>Investigators</legend>
    <ul>
	<li>Your investigator's skills are their most valuable asset, and every investigator begins with a profile of skills depending on their profession. Excelling in some disciplines while helpless in others, investigators must rely on the help of their allies during an investigation to complete sets of intrigues within a plot.
		<br /><br />
		As experience is gained, your investigator accrues skill points which you can assign to further advance their existing skills or gain new ones, rounding out their investigative abilities or else honing a specialty.
	</li>
	</ul>
  </fieldset>
  <fieldset>
    <legend>Allies</legend>
    <ul>
	<li>Your allies are your friends' investigators, and you will want their help to succeed in solving investigations. Your allies will be lending you their skills and deciding to assist with your plots, thus it is far more important to have a few skillful allies you trust than many unreliable allies playing the game.
		<br /><br />
		When investigating a plot, you may assign one of your friends to each of the plot's intrigues provided that their investigator has the skill required by the intrigue's challenge. When you solve the plot, participating allies will also receive a nominal share in the rewards.
	</li>
	</ul>
  </fieldset>
  <fieldset>
    <legend>Investigating Plots</legend>
    <ul>
	<li>Progress is made in the struggle against dark forces by investigating and solving webs of plots. Your investigator keeps a casebook used to track the plot threads available to them, the plot they are currently investigating, and requests from allies to help investigate their own plots.
		<br /><br />
		Every plot has prerequisites that must be met before it can be investigated, such as possessing certain items, or previously solving another plot (note: items used during an investigation are permanently lost).
		<br /><br />
		A plot is composed of intrigues that must be undertaken in the course of investigation, and each intrigue carries a challenge against a specific skill. For each intrigue, your investigator may attempt to solve the intrigue on their own (even without the skill), or request the help of a friend by assigning an ally to the intrigue.
		<br /><br />
		A plot takes time to solve, and after the investigation begins, you must wait a number of hours before you can attempt to solve it. During this time, allies will also have the opportunity to see your request for help, and respond before time runs out.
		<br /><br />
		Once you successfully conclude an investigation, you will be presented with several alternative solutions to the plot, from which you must choose one. Your choice carries meaning in the grand scheme of the cosmos, and will come to weigh on your investigator in subtle ways. 
		<br /><br />
		After choosing a solution, your investigator will receive various awards for solving the plot, often unlocking additional plot threads as well.
	</li>
	</ul>
  </fieldset>
  </div>
</article>