<article>
  <header>
	<h2>Topsite Lists / Game Portals</h2>
  </header>
  <div class="profile">
    <p>A cosmic horror RPG set in the Lovecraft’s 1920s Mythos universe, you create an investigator and solve mysteries with your friends, struggling in mankind's secret battle against occult evils and the Great Old Ones with all the powers of magick and science.</p>

<!--narrator
narrator@cthulhuquest.com
powercosmic-->

<a href="http://www.topgamesites.net/mmorpg" title="Free MMORPG / MPOG Games" target="_blank"> 
  <img src="http://www.topgamesites.net/images/22.jpg" border="0" alt="Free MMORPG / MPOG Games" />
</a>

<a href="http://www.topwebgames.com" title="Top Web Games" target="_blank"></a>

<a href="http://www.toprpgames.com/vote.php?idno=2735" target="_blank">Top RP Games</a>

<a href="http://mpogtop.com/in/1289656499" target="_blank">MPOG TOP - Multiplayer Online Games List MMORPG</a>

<a href="http://www.gamesites200.com/mpog/in.php?id=5002"><img src="http://www.gamesites200.com/mpog/vote.gif" alt="Vote on the MMORPG / MPOG Top 200" border="0"></a>

<a href='http://apexwebgaming.com/' title='MMORPGs'>Vote at ApexWebGaming Now!</a>

<a href="http://www.mpog100.com/">top 100 multiplayer online games</a>

<a href="http://www.pbbghub.net/in.php?gid=56" target="_blank"><img src="http://www.pbbghub.net/images/button/vote.png" alt="Vote for Cthulhu Quest" title="Vote for Cthulhu Quest at PBBG Hub, a free persistant browser based game index." /></a>

<a href="http://www.rpgbrowser.com/"></a>

<a href="http://www.gtop100.com/in.php?site=55251" title="Top 100 MMORPG / MPOG sites" target="_blank">
<img src="http://www.gtop100.com/images/votebutton.jpg" border="0" alt="Top 100 MMORPG / MPOG sites"></a>

<a href="http://browsermmorpg.com">browsermmorpg.com</a>

<a href="http://www.browsergamelist.com/vote.php?gid=26" target="_blank"><img src="http://www.browsergamelist.com/media/browsergamelist-vote2.png" alt="Vote now at BrowserGameList" title="Vote now at BrowserGameList" /></a>

<a href="http://www.pbbg-portal.com/">http://www.pbbg-portal.com/</a>

<a href="http://www.top100mmorpgsites.com/in.php?siteid=1000001322" title="TOP 100 MMORPG SITES">TOP 100 MMORPG SITES</a>

<a href="http://www.gamesites99.com/" target="_blank" title="Vote for Us in Gamesites99.com"><img src="http://www.gamesites99.com/images/vote.gif" alt="GameSites99.com - Gaming Sites Top List | " border="0" /></a>

<div style="width: 88px; height: 55;"> <a href="http://www.gamesitestop100.com/in.php?site=17774" title="Free MMORPG & MPOG servers" target="_blank"> <img src="http://www.gamesitestop100.com/images/votebutton.jpg" border="0" alt="Free MMORPG & MPOG servers\" style="float: left;\ margin-top: -1px;"></a> <a href="http://www.gamesitestop100.com/MMORPG&MPOG" title="MMORPG & MPOG private servers" target="_blank"> <img src="http://www.gamesitestop100.com/images/tracker.jpg" border="0" alt="MMORPG & MPOG private servers\" style="float: left;\ margin-top: -1px;"></a> 

	<a href="http://www.topmmorpgsites.com" title="Top MMORPG / MPOG Sites" target="_blank">
	<img src="http://www.topmmorpgsites.com/images/button88x31.jpg" border="0" alt="Top MMORPG / MPOG sites" /></a>
	<noscript><a href="http://www.topmmorpgsites.com">MMORPG / MPOG Servers</a></noscript>

	<a href="http://www.mmorpgtoplist.com/in.php?site=34342">
	<img src="http://www.mmorpgtoplist.com/vote.jpg" border="0" alt="MMORPG & MPOG Servers"></a>

	<a href="http://www.crimsongames200.com/"><img src="http://www.crimsongames200.com/button.php?u=narrator" alt="Crimson Games 200" border="0" /></a>

	<a target='_blank' href='http://www.toprp.net/vote.php?id=82'><img src='http://toprp.net/images/button.jpg' alt='Top online games' border='0'></a>

<a href="http://qualitygamelist.com/"><img src="http://qualitygamelist.com/button.php?u=narrator" alt="Free browser games, mmorpg, online games" border="0" /></a>

<a href="http://www.rpg100.com/in.php?siteid=1000000143" title="RPG 100">RPG 100</a>

<a href='http://www.rivaltoplist.com/system/index.php?page=inVote&id=anIzejUzM2diTEtMaQ=='>RivalTopList - Vote/a>  
	
<a href="http://www.topfreegameservers.com/in.php?site=3017" title="Mmorpg & Mpog free games" target="_blank"> <img src="http://www.topfreegameservers.com/images/vote.jpg" border="0" width="91" height="51" alt="Mmorpg & Mpog free games"></a>

<a href="http://www.topmmorpglist.net/?v=narrator" title="Browser Games private server free online mmorpg download" rev="vote-for" rel="directory" target="_blank"><img src="http://www.topmmorpglist.net/vote.gif" alt="Browser Games private server - top mmorpg list " /></a><noscript><a href="http://www.topmmorpglist.net/" title="mmorpg private servers" rev="vote-for" rel="tag directory">Browser Games private servers</a><a href="http://www.topmmorpglist.net/Browser-Games/" title="Browser Games private server" rev="vote-for" rel="tag directory">Browser Games</a></noscript>

<a href="http://www.mmorpg150.com/index.php?do=votes&id=2433">Vote for us at MMORPG150</a>

<a HREF="http://www.bbmmorpg.net/in.php?site=11229">http://www.bbmmorpg.net/in.php?site=11229</a>

<a href="http://mgtopsites.com/index.php?do=votes&id=307" target="_blank">Vote Now At MG Topsites!</a>
	
<a href="http://www.topmorpg.com/vote.php?id=562">Vote At Top MORPG </a>
	
<a href="http://www.onlinegamesgallery.com/in.php?game_id=1856" target="_blank"><img src="http://i538.photobucket.com/albums/ff344/24008/vote.gif" border="0" title="Vote!" alt="Vote!"></a>

<a href="http://www.omgspider.com/in.php?game_id=1856" target="_blank"><img src="http://i44.photobucket.com/albums/f21/Murzim/omgspider/vote_button.gif" border="0" title="Vote!" alt="Vote!"></a>

<a href="http://top-game-sites.com/cat_/narrator"><img src="http://top-game-sites.com/images/button.png" alt="Top Game Sites" border="0" /></a>

<a href="http://www.jagtoplist.com/in.php?site=15461" title="MMORPG / MPOG" target="_blank">
<img src="http://www.jagtoplist.com/images/vbtn88x55.jpg" border="0" alt="Top MMORPG / MPOG Sites" /></a>

<a target="_blank" href="http://www.gamesites101.com/mmorpg-mpog/" title="Vote for us!"> <img src="http://www.gamesites101.com/imgs/button_s42.jpg" border="0" alt="free mmorpg games" /></a>

<a href="http://www.thegamefusion.com/in.php?sid=203" target="_blank">Vote for us!</a>

<a href="http://mmorpg.top100arena.com/in.asp?id=54030">http://mmorpg.top100arena.com/in.asp?id=54030</a>

<a target="_blank" href="http://www.gamingsites100.com/mmorpg-mpog/" title="Vote for us!"> <img src="http://www.gamingsites100.com/imgs/button_s42.jpg" border="0" alt="free mmorpg games" /></a>

<a href="http://www.gamesiteguide.com/index.php?page=in&id=681">
<img src="http://www.gamesiteguide.com/index.php?page=button&id=681" border="0" alt="GameSiteGuide.com" title="GameSiteGuide.com" />
</a>

<a href="http://www.pbbgzone.com/in.php?siteid=1000000197" title="PBBG ZONE">PBBG ZONE</a>

<a href="http://topsite.bluebob88.com/"><img src="http://topsite.bluebob88.com/button.php" alt="BlueBob88 Top 200" border="0" /></a>

<a href="http://www.games-top100.com/index.php?page=in&id=1765">
<img src="http://www.games-top100.com/index.php?page=button&bid=2&id=1765" border="0" alt="Gaming Sites - Top 100 List. Private servers, cheats, bots, mods, maps." title="Gaming Sites - Top 100 List. Private servers, cheats, bots, mods, maps." target="_blank">
</a>

<a href="http://www.online-mmogd.com/vote.php?id=211&rew=1&var1=value1&var2=value2"><img src="http://www.online-mmogd.com/images/vote.gif"></a>    

<a href="http://www.onlinetop100.com/index.php?do=votes&id=7869"><img border="0" src="http://www.onlinetop100.com/tracker.php?do=in" alt="Vote for us in OnlineTop100.com" /></a>

<a href="http://www.gexem.com/"><img src="http://www.gexem.com/button.php?u=narrator" alt="Warhammer Online Private servers, cheats, bots, mods, maps." border="0" /></a>

<a href="http://www.oz-games200.com/in.php?gameid=45594">Vote on Oz-games200 </a> 

<a href="http://www.xtremetop100.com/in.php?site=1132314762"> MMORPG & MPOG Top 100</a>

<a href="http://www.topbbgs.com/index.php?view=vote&id=272">TopBBGs.com</a>

<a href="http://browsergamesmmorpg.com/vote.php?id=205" target="_blank" title="Vote at Browser Games MMORPG">Vote for us</a>

<a href="http://www.mmorpg100.com/in.php?id=6775">mmorpg 100 online rpg chart</a>

<a href="http://www.top-pbbg.com/"><img src="http://www.top-pbbg.com/button.php?u=narrator" alt="top-pbbg.com" border="0" /></a>

<a href="http://www.allbrowsergames.com/view_game.php?game=Cthulhu Quest">http://www.allbrowsergames.com/view_game.php?game=Cthulhu Quest</a>

<a href="http://galaxynews.net/games/5496_cthulhu_quest">http://galaxynews.net/games/5496_cthulhu_quest</a>

<a href="http://www.afreegaming.com/" title="Top 100 Games">Vote - Top 100 Games</a>

<a href="http://www.thegameslist.com/game/11028/Cthulhu_Quest">http://www.thegameslist.com/game/11028/Cthulhu_Quest</a>

http://e-items.com/index.php

http://www.igarchive.com

http://mpogr.com

http://www.mmotop250.com

http://www.pbbgames.com/

http://www.phpgamesnetwork.com

http://gamelist.bbgsite.com/submit.shtml

  </div>
</article>

